@model OnSpa.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Assign</h2>

<h4>Appointment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assing" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" asp-items="Model.Services" class="form-control"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>

            


            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
           // sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Services/Delete/', false);
        });
    </script>
}

<h2>Assing</h2>

